@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
    /* Palette */

    --primary-solid: #ff3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #fff;

    /*Typography*/
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /*Font-sizes--->Utiliza em*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1.2em;

    /*Spacing--->Utiliza rem*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-20: 2rem;
    --spacing-24: 2.4rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--dark-solid);
    font-family: var(--base-font);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header,
footer {
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.width-icon{
    display: flex;
    align-items: center;
}
/*---------header-----------*/
header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    max-width: 300px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}
.navbar__item{
    
}

.navbar__link{
    display: inline-block;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-12);
    transition: background-color .3s ease-in-out;
    position: relative;
}
.navbar__link:hover{
    background-color: var(--primary-solid);
}
.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}
.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background-color .3s ease-in-out;
}
.submenu__link:hover{
    background-color: var(--primary-solid);
}
.width-submenu:hover .submenu{
    display: block;
}

/*/---------header-----------*/

/*---------footer-----------*/
.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copyright{
    margin-top: var(--spacing-16);
    text-align: center;
}
/*/---------footer-----------*/

/* Register */

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

.register__title {
    font-size: var(--font-jumbo);
    font-family: var(--alternative-font);
    font-weight: 700;
    text-align: center;
    margin-top: var(--spacing-36);
    margin-bottom: var(--spacing-36);
}

.register__text {
    font-size: var(--font-xlarge);
    font-family: var(--alternative-font);
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--spacing-36);
}

.register__form {
    font-family: var(--base-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__form-div {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-36);
}

.register__form-label {
    font-size: var(--font-large);
}

.register__form-input {
    font-size: var(--font-small);
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
}

::placeholder {
    color: #B9B9B9;
}

.register__form-button {
    width: 103px;
    height: 39px;
    font-size: var(--font-xxsmall);
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: 0;
    margin-right: var(--spacing-16);
    margin-bottom: var(--spacing-36);
}

.register__form-checkbox {
    margin-right: var(--spacing-8);
    outline: 2px solid var(--dark-solid);
    border-radius: 3px;
}

.register__form-terms {
    font-size: var(--font-medium);
}
