/* -------- Admin -------- */

/* Admin */

.admin {
    margin-top: var(--spacing-36);
    margin-bottom: var(--spacing-20);
}

.admin__search {
    width: 50%;
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    margin-bottom: var(--spacing-28);
}

.admin__search-icon {
    font-size: 42px;
}

.admin__search-bar {
    width: 100%;
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-medium);
    border: 2px solid var(--dark-bg-solid);
    border-radius: 6px;
    padding: var(--spacing-8) var(--spacing-20);
}

.admin__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
}

.admin__add {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.admin__add-text {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-large);
}

.admin__add-icon {
    font-size: 52px;
    color: var(--primary-solid);
}

.admin__table {
    width: 100%;
    font-family: var(--base-font);
    font-weight: 500;
    font-size: var(--font-large);
    text-align: left;
    border-spacing: var(--spacing-28);
}

.admin__table-head th {
    padding-bottom: var(--spacing-8);
}

.admin__table-icons {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
}

.admin__table-edit {
    font-size: 32px;
    color: var(--secondary-solid);
}

.admin__table-delete {
    font-size: 34px;
    color: var(--primary-solid);
}

div.dataTables_wrapper div.dataTables_filter {
    display: none;
}

/* Create y Edit */

.crud__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
    margin-top: var(--spacing-36);
}

.crud__form {
    font-family: var(--base-font);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-36) 0;
}

.crud__form-fila {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

.crud__form-label {
    font-size: var(--font-large);
}

.crud__form-select {
    font-size: var(--font-medium);
    font-weight: 500;
    padding: var(--spacing-4);
    margin-right: var(--spacing-20);
    width: max-content;
}

.crud__form-input {
    font-size: var(--font-medium);
    font-weight: 400;
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
    margin-right: var(--spacing-20);
}

.crud__form-fila #sku, .crud__form-fila #price {
    width: 12%;
}

.crud__form-fila #stock, .crud__form-fila #discount {
    text-align: center;
    width: 5.5%;
}

.crud__form-textarea {
    font-size: var(--font-large);
    font-weight: 400;
    width: 80%;
    height: 150px;
    padding: var(--spacing-4);
}

.crud__form-carga {
    font-size: var(--font-medium);
    font-weight: 400;
}

.crud__form-imagenes {
    display: flex;
    gap: var(--spacing-36);
    align-items: center;
}

.crud__form-imagen {
    width: 12.5%;
    height: auto;
}

.crud__form-imagen img {
    border-bottom: 1px solid var(--primary-solid);
    text-align: center;
}

.crud__form-caption {
    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: var(--font-medium);
    text-align: center;
    margin: 0 auto;
    padding: var(--spacing-4) 0;
}

.crud__form-buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
}

.crud__form-button {
    padding: var(--spacing-16) var(--spacing-36);
    font-size: var(--font-xsmall);
    font-weight: 600;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: 0;
}

.crud__form-button:nth-child(2) {
    background-color: var(--dark-solid);
}

/* Delete */

.delete__title {
    font-size: var(--font-jumbo);
    font-family: var(--alternative-font);
    font-weight: 700;
    text-align: center;
    margin: var(--spacing-36) 0;
}

.delete__text {
    font-size: var(--font-large);
    font-family: var(--alternative-font);
    font-weight: 400;
    text-align: center;
    margin-bottom: var(--spacing-36);
}

.delete__section {
    font-family: var(--base-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete__section-row {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-28);
    margin-bottom: var(--spacing-36);
}

.delete__section-field {
    font-size: var(--font-large);
    font-weight: 600;
}

.delete__section-text {
    font-size: var(--font-large);
}

.delete__section-button {
    padding: var(--spacing-16) var(--spacing-36);
    font-size: var(--font-xsmall);
    font-weight: 600;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: 0;
}

.delete__section-button:nth-child(2) {
    background-color: var(--dark-solid);
}

/* -------- Media Queries -------- */

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1280px) {
    .admin, .create, .edit, .delete {
        width: 90%;
    }
}

@media only screen and (max-width: 1080px) {
    .admin__table-head {
        display: none;
    }

    .admin__table-body tr {
        display: block;
        margin-bottom: var(--spacing-36);
        text-align: center;
        border: 2px solid var(--dark-bg-solid);
        border-radius: 10px;
    }

    .admin__table-body td {
        display: block;
        padding: var(--spacing-4);
    }

    .admin__table-body tr #id::before {
        content: 'ID: ';
        font-weight: 700;
    }

    .admin__table-body tr #codigo::before {
        content: 'Código: ';
        font-weight: 700;
    }

    .admin__table-body tr #nombre::before {
        content: 'Nombre: ';
        font-weight: 700;
    }

    .admin__table-body tr #categoria::before {
        content: 'Categoría: ';
        font-weight: 700;
    }
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
    .admin__title, .delete__title {
        font-size: var(--font-xlarge);
    }

    .admin__add-text, .admin__table, .delete__text, .delete__section-field, .delete__section-text {
        font-size: var(--font-medium);
    }

    .admin__add-icon {
        font-size: 42px;
    }

    .crud__title {
        font-size: var(--font-xlarge);
        text-align: center;
    }

    .crud__form-fila {
        flex-direction: column;
    }

    .crud__form-label {
        font-size: var(--font-medium);
        text-align: center;
    }

    .crud__form-select, .crud__form-input {
        font-size: var(--font-small);
        text-align: center;
        margin: 0 auto;
    }

    .crud__form-textarea {
        font-size: var(--font-medium);
        width: 100%;
    }

    .crud__form-fila #sku, .crud__form-fila #price {
        width: 24%;
    }

    .crud__form-fila #stock, .crud__form-fila #discount {
        width: 11%;
    }

    .crud__form-carga, .crud__form-caption {
        font-size: var(--font-small);
    }

    .crud__form-imagenes {
        justify-content: center;
    }

    .crud__form-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}