@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
    /* Palette */

    --primary-solid: #ff3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #fff;

    /*Typography*/
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /*Font-sizes--->Utiliza em*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.2em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1.2em;

    /*Spacing--->Utiliza rem*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-32: 3.2rem;
    --spacing-20: 2rem;
    --spacing-24: 2.4rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--dark-solid);
    font-family: var(--base-font);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header,
footer {
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}
.width-icon{
    display: flex;
    align-items: center;
}
/*---------header-----------*/
header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    max-width: 300px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link{
    display: inline-block;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-12);
    transition: background-color .3s ease-in-out;
    position: relative;
}
.navbar__link:hover{
    background-color: var(--primary-solid);
}
.submenu{
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}
.submenu__link{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background-color .3s ease-in-out;
}
.submenu__link:hover{
    background-color: var(--primary-solid);
}
.width-submenu:hover .submenu{
    display: block;
}
.navbar__custom-text{
    display: inline-block;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-12);
}

.navbar__custom-text:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary-solid);
}

.navbar__custom-text--featured{
    color: var(--primary-solid);
}

.hamburger-menu {
    font-size: var(--font-display);
    cursor: pointer;
    display: none; /* Ocultar inicialmente en pantallas más grandes */
}

@media (max-width: 768px) {
    .navbar__menu {
        display: none; /* Ocultar lista de navegación en pantallas más pequeñas */
        flex-direction: column;
        position: absolute;
        top: 135px;
        left: 0;
        width: 100%;
    }

    .navbar__menu.show {
        display: flex; /* Mostrar lista de navegación cuando se activa */
        z-index: 1;
        background-color: var(--dark-bg-solid);
        padding-bottom: var(--spacing-24);
    }

    .navbar__menu li {
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid white;
    }

    .hamburger-menu {
        display: block; /* Mostrar el ícono de hamburguesa en pantallas más pequeñas */
    }

    .submenu{
        position: unset;
    }
}

/*/---------header-----------*/

/*---------footer-----------*/
.footer{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copyright{
    margin-top: var(--spacing-16);
    text-align: center;
}
/*/---------footer-----------*/

/* Contact */

input[type=submit], button {
    cursor: pointer;
}

.contact__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
    padding-top: var(--spacing-36);
}

.contact__form {
    width: 60%;
    font-family: var(--base-font);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    padding-top: var(--spacing-36);
    padding-bottom: var(--spacing-36);
}
  
  .contact__form-fila {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

.contact__form-mensaje {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.contact__form-label {
    font-size: var(--font-large);
}

.contact__form-input {
    font-size: var(--font-medium);
    font-weight: 400;
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
    margin-right: var(--spacing-20);
}

.contact__form-textarea {
    font-size: var(--font-large);
    font-weight: 400;
    width: 100%;
    height: 150px;
    padding: var(--spacing-4);
}

::placeholder {
    color: #B9B9B9;
}

.contact__form-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.contact__form-button {
    width: 150px;
    height: 44px;
    font-size: var(--font-xsmall);
    font-weight: 600;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: 0;
}

.contact__form-text {
    font-size: var(--font-medium);
}

/*/-------------MediaQuerys-------------*/
/*Medium devices (tablets, 768px and up)*/
@media only screen and (max-width: 1280px) {
    .container {
        width: 90%;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .logo-principal {
        content: url("/img/branding/isotype.svg");
        max-width: 60%;
    }
    .width-icon svg{
        display: none;
    }
    .contact__title {
        font-size: var(--font-xlarge);
        text-align: center;
    }
    
    .contact__form {
        width: 100%;
    }
    .contact__form-fila {
        flex-direction: column;
    }
    .contact__form-label {
        font-size: var(--font-medium);
        text-align: center;
    }
    
    .contact__form-input {
        font-size: var(--font-small);
        margin: 0 auto;
        text-align: center;
    }
    
    .contact__form-textarea {
        font-size: var(--font-medium);
        width: 100%;
    }
    .contact__form-text {
        font-size: var(--font-small);
    }
}