/* -------- Shop -------- */

/* Shop */

.shop {
    display: flex;
}

.shop__filters-section, .shop__items-section {
    margin-top: var(--spacing-68);
    margin-bottom: var(--spacing-68);
}

.shop__filters-section {
    max-width: 240px;
    width: 100%;
}

.shop__form-title {
    display: none;
}

.shop__form-container {
    display: flex;
    flex-direction: column;
}

.shop__form-subtitle {
    font-size: var(--font-large);
    font-weight: 500;
    padding-block: var(--spacing-16);
}

.shop__form-input {
    font-size: var(--font-medium);
    padding: var(--spacing-8);
    border-radius: 5px;
    border: 1px solid var(--dark-solid);
    max-width: 80%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.shop__form-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-12);
    font-size: var(--font-small);
}

.shop__form-precio {
    display: flex;
    font-size: var(--font-small);
}

#form-precio-min, #form-precio-max {
    width: 60%;
    font-size: var(--font-xxsmall);
    text-align: center;
    padding: 0;
}

.shop__form-div label {
    padding: var(--spacing-4);
}

.shop__form-buttons {
    display: flex;
    gap: var(--spacing-16);
}

.shop__form-button {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-24);
    margin: var(--spacing-16) 0;
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
    border: none;
}

.shop__form-button:hover {
    background-color: var(--primary-900);
}

.shop__card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-item {
    margin-bottom: var(--spacing-36);
}

.card-item__cover {
    transition: transform .4s ease-in-out;
}

.card-item__cover img {
    animation: fade 1.3s;
}

.shop__card-msg {
    grid-column-start: 2;
    grid-column-end: 3;
}

.shop__card-msg p {
    padding: var(--spacing-36) var(--spacing-16);
    text-align: center;
    font-size: var(--font-medium);
}

.shop__pagination {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-36);
}

.shop__pagination>a {
    padding: var(--spacing-16);
    border: 1px solid var(--light-bg-solid);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    border-radius: 5px;
}

.shop__pagination>a:hover {
    background-color: var(--primary-solid);
}

.shop__pagination>a.active {
    background-color: var(--primary-solid);
}

/* Item */

.item__product {
    display: flex;
    justify-content: center;
    margin: var(--spacing-36) auto;
}

.item__product-img {
    width: 800px;
}

.item__product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
    font-family: var(--base-font);
    color: var(--dark-solid);
    padding-left: var(--spacing-36);
    padding-right: var(--spacing-128);
}

.item__product-name {
    font-size: var(--font-jumbo);
    text-transform: uppercase;
}

.item__product-licence {
    font-size: var(--font-small);
    color: var(--dark-900);
    font-weight: 500;
    text-transform: uppercase;
}

.item__product-price {
    font-weight: 400;
    font-size: var(--font-jumbo);
}

.item__product-description {
    font-weight: 400;
    font-size: var(--font-large);
}

.item__product-cart {
    display: flex;
    gap: var(--spacing-8);
}

.item__cart-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
    margin-right: var(--spacing-24);
}

.item__quantity-button {
    background-color: var(--dark-bg-solid);
    color: var(--light-bg-solid);
    padding: var(--spacing-4) var(--spacing-8);
    border: solid 1px var(--dark-bg-solid);
}

.item__product-submit {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-12);
    font-size: var(--font-medium);
    border: solid 1px var(--primary-solid);
}

.item__product-input {
    width: var(--font-display);
    text-align: center;
    font-size: var(--font-medium);
}

.item__product-stock {
    font-family: var(--base-font);
    font-size: var(--font-small);
    color: var(--dark-bg-solid);
    padding: var(--spacing-8);
}

.item__product-promo {
    font-family: var(--base-font);
    font-size: var(--font-small);
    color: var(--secondary-solid);
    padding: var(--spacing-8);
}

/* Cart */

.cart__section {
    margin-top: var(--spacing-68);
}

.cart__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
    border-bottom: 5px solid var(--primary-solid);
    display: inline;
    padding: var(--spacing-8) 0;
}

.cart__table {
    width: 100%;
    font-family: var(--base-font);
    margin-top: var(--spacing-68);
    margin-bottom: var(--spacing-68);
    border-collapse: separate;
    border-spacing: var(--spacing-36);
}

.cart__table-row {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.cart__table-head th {
    font-size: var(--font-small);
    font-weight: 700;
    padding: var(--spacing-16) 0;
}

.cart__table-row td {
    padding: var(--spacing-36) var(--spacing-28);
}

.cart__table-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-16);
}

.cart__table-image {
    width: 20%;
}

.cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
}

.cart__item-name {
    font-size: var(--font-large);
    font-weight: 700;
    text-transform: uppercase;
}

.cart__item-licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: var(--spacing-12);
}

.cart__item-price {
    font-size: var(--font-xsmall);
    font-weight: 400;
}

.cart__table-quantity {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: center;
}

.cart__quantity-input {
    width: var(--font-display);
    height: var(--font-xlarge);
    text-align: center;
    font-size: var(--font-medium);
    font-weight: 700;
}

.cart__quantity-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
}

.cart__quantity-quantity {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    padding: var(--spacing-4) var(--spacing-8);
    border: none;
}

.cart__table-price {
    text-align: center;
}

.cart__table-price::before {
    content: '$';
}

.cart__table-icon {
    color: var(--primary-solid);
    font-size: 25px;
    margin: 0 50%;
}

.cart__table-empty {
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: center;
    padding: var(--spacing-36);
}

.cart__summary {
    text-align: right;
}

.cart__summary-section {
    font-family: var(--base-font);
    font-weight: 400;
    width: 40%;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-36);
    margin-bottom: var(--spacing-68);
    text-align: left;
}

.cart__section-table {
    padding: var(--spacing-24) var(--spacing-24) var(--spacing-4) var(--spacing-24);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: var(--spacing-36);
}

.cart__section-row {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-128);
    margin-bottom: var(--spacing-20);
}

.cart__section-label {
    font-size: var(--font-small);
    font-weight: 600;
}

.cart__section-text {
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--secondary-900);
}

.cart__row-last {
    border-top: 2px solid var(--primary-solid);
    padding-top: var(--spacing-4);
}

.cart__row-last .cart__section-label, .cart__row-last .cart__section-text {
    font-size: var(--font-medium);
}

.cart__section-button {
    width: 100%;
    padding: var(--spacing-12);
    font-size: var(--font-xlarge);
    font-weight: 700;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: 0;
}

/* -------- Media Queries -------- */

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1280px) {

    .shop, .item, .cart {
        width: 90%;
    }

    .slider__title {
        font-size: var(--font-jumbo);
        text-align: left;
    }
}

@media only screen and (max-width: 1080px) {
    .shop__card-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .shop__card-msg {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cart__table-head {
        display: none;
    }

    .cart__table-row {
        display: block;
        margin-bottom: var(--spacing-36);
    }

    .cart__table-row td {
        display: block;
    }
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
    .shop {
        display: grid;
    }

    .shop__card-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .shop .card-item__cover {
        width: 80%;
        margin: 0 auto;
    }

    .shop .card-item__content {
        padding: 0;
        text-align: center;
    }

    .shop__card-msg {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .shop .card-item__tag {
        margin: var(--spacing-20);
    }

    .shop__filters-section {
        max-width: 100%;
        text-align: center;
    }

    .shop__form-container, .shop__form-div, .shop__form-buttons {
        align-items: center;
        justify-content: center;
    }

    .shop__form-title {
        display: block;
        font-size: var(--font-medium);
        background-color: var(--dark-bg-solid);
        color: var(--light-font-solid);
        margin: 0 auto;
        padding: var(--spacing-12);
        margin-bottom: var(--spacing-4);
        cursor: pointer;
    }

    .shop__form-section {
        display: none;
    }

    .filters-open .shop__form-section, .filters-open .filter-explanation {
        display: block;
    }

    .item__product {
        flex-direction: column;
        align-items: center;
    }

    .item__product-info {
        padding: 0;
        text-align: center;
    }

    .item__product-img {
        width: 50%;
    }

    .item__product-cart {
        justify-content: center;
    }

    .item__product-name, .item__product-price {
        font-size: var(--font-xlarge);
    }

    .item__product-licence, .item__product-promo {
        font-size: var(--font-xsmall);
    }

    .item__product-description, .cart__item-name {
        font-size: var(--font-medium);
    }

    .item__product-submit, .item__product-input {
        font-size: var(--font-small);
    }

    .cart__title {
        display: block;
        text-align: center;
        font-size: var(--font-jumbo);
    }

    .cart__table-image {
        width: 30%;
    }

    .cart__summary-section {
        width: 80%;
        margin: var(--spacing-36) auto var(--spacing-68);
    }

    .cart__section-button {
        font-size: var(--font-large);
    }

    .slider__title {
        text-align: center;
        font-size: var(--font-xlarge);
    }
}