<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon"  type="image/png" href="/img/branding/isotype.svg">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('partial/header-shop'); -%>
    
    <!-- Agrego el contenido de la web -->
    <div style="min-height: 50vh; display: flex; align-items: center; justify-content: center;">
        <h1> <%= content %> </h1>
    </div>
    
    <!-- Incluyo el footer como vista parcial -->
    <%- include('partial/footer'); -%>

    <script src="/js/header-menu-responsive.js"></script>
</body>

</html>