<header>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <nav class="container navbar">
        <picture class="navbar__logo">
            <a href="/">
                <img class="logo-principal" src="../../img/branding/logo_light_horizontal.svg" />
            </a>
        </picture>
        <ul class="navbar__menu">
            <% if (loginAs != undefined) { %>
                <li class="">
                    <a class="navbar__custom-text" href="#">
                        ¡Hola, <span class="navbar__custom-text--featured"> <%= loginAs %></span>!
                    </a>
                </li>
            <% } %>
            <li class="navbar__item width-submenu">
                <a class="navbar__link width-icon" href="#">
                    SHOP<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="/shop" class="submenu__link">
                            Funkos
                        </a>

                    </li>
                    <li class="submenu__item">
                        <a href="/shop" class="submenu__link">
                            Remeras
                        </a>
                    </li>
                    <li class="submenu__item">
                        <a href="/shop" class="submenu__link">
                            Llaveros
                        </a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/contact">
                    CONTACTO
                </a>
            </li>
            <% if (loginAs != undefined) { %>
                <li class="">
                    <a class="navbar__link" href="/auth/logout">
                        SALIR
                    </a>
                </li>
            <% } else { %>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">
                        LOGIN
                    </a>
                </li>
                <% } %>
            <li class="navbar__item">
                <a class="navbar__cart" href="/shop/cart">
                    <img src="/img/icons/cart-icon.svg">
                    <div class="contador" id="contador"> 
                        <%= (cart === undefined)? 0 : cart.length %> 
                    </div>
                </a>
            </li>
        </ul>
        <div class="hamburger-menu">
            <iconify-icon icon="mi:menu"></iconify-icon>
        </div>
    </nav>
</header>

<style>
    .contador {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 12px;
    }
    
    .navbar__cart{
        position: relative;
        cursor: pointer;
    }
    </style>