<header>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <nav class="container navbar">
        <picture class="navbar__logo">
            <a href="/">
                <img class="logo-principal" src="../../img/branding/logo_light_horizontal.svg" />
            </a>
        </picture>
        <ul class="navbar__menu">
            <% if (loginAs != undefined) { %>
                <li>
                    <% if (loginAs == "Admin") { %>
                    <p class="navbar__custom-text">
                        ¡Hola, <a class="navbar__custom-link" href="/admin"><%= loginAs %></a>!
                    </p>
                    <% } else { %>
                    <p class="navbar__custom-text">
                        ¡Hola, <span class="navbar__custom-text--featured"><%= loginAs %></span>!
                    </p>
                    <% } %>
                </li>
            <% } %>
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">
                    VER TIENDA
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin">
                    ADMIN
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/logout">
                    SALIR
                </a>
            </li>
        </ul>
        <div class="hamburger-menu">
            <iconify-icon icon="mi:menu"></iconify-icon>
        </div>
    </nav>

</header>