<section class="slider glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <%funkos.map(funko=>{%>
                <li class="slider__item glide__slide">
                    <%- include('../partial/card.ejs', {funko: funko}) -%>
                </li>
            <%})%>
            
                
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <svg class="glide__button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <svg class="glide__button" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="black" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
    </button>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/slide.js"></script>