<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/register.css">
    <!-- Cargo el titulo del sitio de forma dinámica -->
    <title> <%= title %> </title> 
</head>
<body>
    <!-- Incluyo el Header como vista parcial -->
    <%- include('../partial/header-admin'); -%>

    <!-- Agrego el contenido de la web -->
    <main class="container">
            <section class="register">   
                <div>
                    <h2 class="account__title">CREA TU CUENTA</h2>
                    <p class="account__text">Completa el formulario para ser parte del mundo de los Funkos</p>
                </div>
                <form class="account__form" method="post" action="">
                    <fieldset>
                        <div class="account__form-div">
                            <label class="account__form-label" for="nombre">Nombre: </label>
                            <input class="account__form-input" id="nombre" type="text" placeholder="John" name="name">
                        </div>
                        <div class="account__form-div">
                            <label class="account__form-label" for="apellido">Apellido: </label>
                            <input class="account__form-input" id="apellido" type="text" placeholder="Doe" name="lastname">
                        </div>
                        <div class="account__form-div">
                            <label class="account__form-label" for="email">Email: </label>
                            <input class="account__form-input" id="email" type="email" placeholder="johndoe@correo.com" name="email">
                        </div>
                        <div class="account__form-div">
                            <label class="account__form-label" for="contraseña">Contraseña: </label>
                            <input class="account__form-input" id="contraseña" type="password" placeholder="&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF" name="password">
                        </div>
                        <div class="account__form-div">
                            <label class="account__form-label" for="reContraseña">Repita Contraseña: </label>
                            <input class="account__form-input" id="reContraseña" type="password" placeholder="&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF&#x25CF">
                        </div>
                    </fieldset>
                    <fieldset>
                            <div>
                                <input class="account__form-button" type="submit" value="Registrar">
                                <input class="account__form-checkbox" id="aceptar" type="checkbox"></a>
                                <label class="account__form-terms" for="aceptar">Acepto <a href="">Términos y Condiciones</a></label>
                            </div>
                    </fieldset>
                </form>
            </section>
    </main>

    <!-- Incluyo el footer como vista parcial -->
    <%- include('../partial/footer') %>
</body>
</html>